@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KOMACON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'KOMACON', serif;
}

body {
    @apply bg-white text-black dark:bg-black dark:text-white;
}